<div class="container">

  <div class="logo-container">
    <img src="../../assets/serasa-experian-large.png" alt="" class="logo" width="184" height="97">
  </div>

  <p>Acessar minha área</p>
  
  <div class="form-container">
    <input type="text" class="username" placeholder="Insira seu usuário">
    <input type="password" class="password" placeholder="Digite sua senha">

    <div class="legend-container">
      <span class="left">
        <input type="checkbox" class="checkbox-manter-conectado left">
        <label class="container">
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <span>Matenha-me conectado</span>
      </span>
      <span class="right">
        <a href="#">Esqueci minha senha</a>
      </span>
    </div>

  </div>

</div>