<div>
  <div class="card wrapper-login">
        
      <div class="step4">

        <div class="logo" align="center">
          <img src="../../assets/logo-serasa.png" alt="" width="170">
        </div>

        <div>
          <p>Redefinir senha</p>
          <span>Insira o código de 5 digitos abaixo enviado para (**) ****.**45</span>
          <input class="code"><br>
          <span><a href="#">Reenviar código</a></span>
            
        </div>
      </div>

  
    </div>
  </div>






