<div>
  <div class="card wrapper-login">
        
    <div class="step3">
      <div class="logo" align="center">
        <img src="../../assets/logo-serasa.png" alt="" width="170">
      </div>
      <div>
      <p>Redefinir senha</p>
      </div>

      <div class="options-recover">
        <input type="radio"><span>Por e-mail para ******dc@gmail.com</span> <br>
        <input type="radio"><span>Por SMS para (**)  ****.**76</span>
      </div>

      <div class="recover-buttons">
        <button>Cancelar</button>
        <button>Enviar</button>
      </div>

    </div>
  </div>
</div>