<button (click)="toggleMenu1()" class="hamburger">
  <span>1</span>
</button>
<!-- <br>
<button (click)="toggleMenu2()" class="hamburger">
  <span>2</span>
</button>
<br>
<button (click)="toggleMenu3()" class="hamburger">
  <span>3</span>
</button>
<br>
<button (click)="toggleMenu4()" class="hamburger">
  <span>4</span>
</button>
<br><br> -->
<!-- <button (click)="toggleAutenticar()" class="hamburger">
  <span>autenticar</span>
</button> -->

<step1 [@slideInOut]="menuState1"></step1>
<step2 [@slideInOut]="menuState2"></step2>
<step3 [@slideInOut]="menuState3"></step3>
<step4 [@slideInOut]="menuState4"></step4>

<autenticar [@slideInOut]="autenticarState"></autenticar>

